/*
 *  MEMO : 공통 스타일 파일입니다.
 * 작성자 : 민지
 * 작성일 : 2020/02/25.
*/

/* css 초기화 */
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin:0;padding:0}
fieldset,img {border:0 none}
dl,ul,ol,menu,li {list-style:none; }
input,select,textarea,button {font-size:100%;vertical-align:middle}
button {border:0 none;background-color:transparent;cursor:pointer}
table {border-collapse:collapse;border-spacing:0;width: 100%}
body {-webkit-text-size-adjust:none; background:#fff} /* 뷰표트 변환시 폰트크기 자동확대 방지 */
html{-webkit-text-size-adjust:antialiased;-moz-osx-font-sommthing:grayscale;}
a{color:#000;text-decoration:none; border:none; -webkit-tap-highlight-color:transparent;}
a:active, a:hover {text-decoration:none}
a[href^=tel] {text-decoration:inherit;color: inherit;}
input:focus,select:focus,textarea:focus{outline: none;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-internal-autofill-selected {background: #fff !important; -webkit-box-shadow: 0 0 0 1000px white inset;}


textarea{width: 100%; border: 1px solid #ddd; resize: none; padding: 10px; box-sizing: border-box;}
textarea::-webkit-input-placeholder{color:#999;}
select{vertical-align:middle; border: 0; border:1px solid #ddd; width:100%; height:40px; box-sizing: border-box; padding: 0 32px 0 15px; background: url('/p_images/select_arrow.png') no-repeat calc(100% - 10px) 50%; background-size: 12px; -webkit-appearance: none; -webkit-border-radius: 0; -moz-appearance: none; appearance: none;}

::-webkit-input-placeholder {color:#999;}/* WebKit, Blink, Edge */
:-moz-placeholder {color:#999; opacity:1;} /* Mozilla Firefox 4 to 18 */
::-moz-placeholder {color:#999; opacity:  1;}/* Mozilla Firefox 19+ */
:-ms-input-placeholder {color:#999;}/* Internet Explorer 10-11 */

.margin_auto{margin: 0 auto;}
.normal_bold{font-family: 'NotoSansKR-Bold'}
.point_bold{font-family: 'S-CoreDream-5Medium'}
.trigger{cursor: pointer;}
.row{overflow: hidden;}
.middle{vertical-align: middle;}
.w_100{width:100%;}
.block{display: block;}
.inline_block{display: inline-block;}
.relative{position: relative;}
.inherit{color: inherit;}
.border_none{border: 0!important}
/* layout */
.wrap{position: relative; padding-bottom: 40px;}
.mt5{margin-top: 5px}
.mt10{margin-top: 10px}
.mt15{margin-top: 15px}
.mt20{margin-top: 20px!important;}
.mt25{margin-top: 25px!important;}
.mt30{margin-top: 30px}
.mt40{margin-top: 40px!important}
.mt45{margin-top: 45px}
.mt50{margin-top: 50px !important;}
.mt60{margin-top: 60px !important;}
.mt100{margin-top: 100px !important;}
.mb5{margin-bottom: 5px;}
.mb10{margin-bottom: 10px;}
.mb15{margin-bottom: 15px;}
.mb20{margin-bottom: 20px;}
.mb30{margin-bottom: 30px;}
.mb40{margin-bottom: 40px;}
.mb50{margin-bottom: 50px;}
.mb70{margin-bottom: 70px;}
.mb150{margin-bottom: 150px!important;}
.mr0{margin-right:0 !important;}
.mr5{margin-right:5px !important;}
.mr10{margin-right:10px !important;}
.mr20{margin-right:20px !important;}
.mr25{margin-right:25px !important;}
.mr40{margin-right:40px !important;}
.mr70{margin-right:70px !important;}
.mr30{margin-right:30px;}
.ml5{margin-left:5px;}
.ml10{margin-left:10px;}
.ml15{margin-left:15px;}
.ml20{margin-left:20px;}
.ml30{margin-left:30px;}
.ml50{margin-left:50px;}
.pl20{padding-left: 20px;}
/* font */
.fs_12{font-size: 12px;}
.fs_14{font-size: 14px !important;}
.fs_16{font-size: 16px;}
.fs_18{font-size: 18px;}
.fs_20{font-size: 20px;}
.fs_30{font-size: 30px;}
.font_gray_f{color: #fff;}
.font_gray_3{color: #333;}
.font_gray_6{color: #666;}
.font_gray_9{color: #999;}
.font_gray_0{color: #000;}
.essential{color:#FF932D;}
.point_color{color:#FF932D;}
.sub_color{color:#679BDF;}
.ssub_color{color:#67CBDF;}


/* 정렬 */
.f_left{float: left;}
.f_right{float: right;}
.txt_right{text-align: right;}
.txt_center{text-align: center;}
.txt_left{text-align: left;}
.clearboth{clear:both;}
.clearfix:after{content: "";display: table;clear: both;}
.center_crop_frame{position: relative; overflow: hidden;}
.center_crop_area{position: absolute; top:0;left:0;right:0;bottom:0;transform: translate(50%,50%);}
.center_crop_area img{position: absolute; top:0;left:0;transform: translate(-50%,-50%); max-width: 100%; min-height:100%;}

/* button */
.btn_basic a{display: block; text-align: center; height: 36px; line-height:36px; background: #000; color: #fff; font-size: 14px;}
.btn_gray a{background: #ddd; color: #333}
.btn_gray a:hover{background: #eee; color: #333;transition: all 0.2s ease-in-out;	-moz-transition}
.btn_light_gray a{background: #eee; color: #333}
.btn_light_gray a:hover{background: #ddd; color: #333; transition: all 0.2s ease-in-out;	-moz-transition: all 0.2s ease-in-out;	-webkit-transition: all 0.2s ease-in-out;	-o-transition: all 0.2s ease-in-out;}
.btn_gray_line a{border: 1px solid #ddd; color: #333}
.btn_underline a{ padding-bottom:2px; border-bottom:1px solid #666; display: block;}
.btn_line a{border:1px solid #666; color:#666; height:36px; line-height:36px; display: block; padding: 0 25px;}
.btn_line_full a{border:1px solid #666; color:#666;  height:28px; line-height:28px; display: block; text-align: center;}

.btn_m_line a{display: inline-block; font-size:12px; height:28px; line-height:26px; border:1px solid #666; color:#666; width:100px; text-align: center;}
.btn_solid a{border: 1px solid #000; background: #000; color:#fff;}
.btn_line a{border: 1px solid #D4D4D4; background: #fff; color:#333;}
.btn_100 a{display:inline-block; width: 135px; height: 36px; line-height: 35px; text-align: center;}
.btn_150 a{display:inline-block; width: 150px; height: 36px; line-height: 35px; text-align: center;}
.btn_170 a{display:inline-block; width: 170px; height: 36px; line-height: 35px; text-align: center; box-sizing: border-box; border-radius: 5px;}
.btn_200 a{display:inline-block; width: 200px; height: 50px; line-height: 50px; text-align: center; font-size: 18px; border-radius: 3px; font-family: 'NotoSansKR-Bold';}

.btn_p_10_40 a{display: inline-block; padding: 10px 40px; box-sizing: border-box; text-align: center; border-radius: 3px;}
.btn_p_10_20 a{display: inline-block; padding: 5px 20px; box-sizing: border-box; text-align: center; border-radius: 3px;}
.btn_w_130 a{display: inline-block; width: 130px; height: 40px; line-height: 38px; box-sizing: border-box; text-align: center; border-radius: 3px; font-size: 12px; font-family: 'NotoSansKR-Bold'}
.btn_90_32 a{display: inline-block; width: 90px; height: 32px; line-height: 30px; box-sizing: border-box; text-align: center; border-radius: 3px;}

/* modal 공통 레이아웃 */
.modal{position: fixed; width:400px; height:300px; z-index: 1000; top:50%; left: 50%; transform: translate(-50%, -50%); display: none; }
.modal .md_container{ color: #666; background: #fff; position: relative; border-radius: 10px; margin: 0 auto; padding: 30px; height: 100%;}
.modal h3{color: #333; font-size: 20px; text-align: left}
.modal span.md_close{display: block; font-size: 18px; position: absolute; right: 30px; top:30px; cursor: pointer}
.modal span.md_close:hover{color: #333}
.md_overlay{position: fixed; width: 100%; height: 100%; top:0; left:0; background: rgba(0,0,0,.5); opacity: 0; visibility: hidden; z-index: 200}



/* 인풋 기본 스타일 */
input{width: 100%; border: 0; height:38px; text-indent: 5px; -webkit-appearance: none; -webkit-border-radius: 0;}
input[type='text'],input[type='password'],,input[type='submit'],input[type='search'] {-webkit-appearance:none; -webkit-border-radius:1px;}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox} button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
textarea{-webkit-appearance: none; border-radius: 0}
input.input_calendar{width: 180px; background: url('/images/i_calendar.png') no-repeat 10px 50%; background-size: 20px; padding-left: 30px;}

input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {display:inline-block; margin-right:20px; color: #666; font-size: 12px; font-style: normal;}
input[type="checkbox"] + label span {display:inline-block; width:13px; height:13px; margin:-3px 10px 0 0; vertical-align:middle; background:url('../images/btn_check_off.png') right center no-repeat; cursor:pointer; background-size:13px;}
input[type="checkbox"]:checked + label span {background:url('../images/btn_check_on.png') right center no-repeat; background-size:13px;}

input[type="radio"] {display:none;}
input[type="radio"] + label {display:inline-block; margin-right: 40px; font-size:12px; color: #333; font-style: normal;}
input[type="radio"] + label span {display:inline-block; width:13px; height:13px; margin:-3px 10px 0 0; vertical-align:middle; background:url('../images/btn_radio_off.png') right center no-repeat; cursor:pointer; background-size:13px;}
input[type="radio"]:checked + label span {background:url('../images/btn_radio_on.png') right center no-repeat; background-size:13px;}

/* 스위치 체크박스 */
.switch {position:relative; display:inline-block; width:40px; height:24px;}
.check_slider {position:absolute; cursor:pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; -webkit-transition: .4s; transition: .4s; border-radius: 24px; border: 1px solid #757575;}
.check_slider:before {position: absolute; content: ""; height: 22px; width: 22px; left:-1px; bottom:-1px; background-color: #fff; border: 1px solid #757575; -webkit-transition: .4s; transition: .4s; border-radius: 50%;}
input:checked + .check_slider {background-color: #757575;}
input:focus + .check_slider {box-shadow: 0 0 1px #757575;}
input:checked + .check_slider:before {-webkit-transform: translateX(16px); -ms-transform: translateX(16px); transform: translateX(16px);}

/* paging */
.paging_wrap{margin-top: 40px; margin-bottom: 120px; overflow:hidden;}
.paging{overflow: hidden; text-align:center;}
.paging li{display: inline-block; }
.paging a{font-family: 'Roboto-Regular'; background: #fff; color:#444; width: 32px; height: 32px; line-height: 30px; border-radius: 5px; display: inline-block;}
.paging a:hover{width: 32px; height: 32px; text-decoration:none;}
.paging a.active{font-weight: bold;}
.paging li.active a{color:#FF932D;}
.paging li.btn_next, .paging li.btn_prev{border: 1px solid #ddd; border-radius: 3px;}
.paging ul li a img{vertical-align: middle; height: 7px;}

.qa_detail_a_bg{margin-top: 40px;color:#666;font-size: 16px; line-height: 24px; width: 100%; padding: 30px; box-sizing: border-box; background: #F6F6F6;}
.qa_detail_a_bg h3{margin-bottom: 30px; padding-left: 5px;}
.qa_detail_a_bg h3 img{width: 27px; vertical-align: middle; margin-right: 10px; margin-top: -2px;}

/* scroll design */
.y-scroll::-webkit-scrollbar {width:8px !important; background: #f6f6f6; border-radius:30px; padding:5px;}
.y-scroll::-webkit-scrollbar-button:start:decrement, ::-webkit-scrollbar-button:end:increment {display: block; height:0px;}
.y-scroll::-webkit-scrollbar-track {background:#f6f6f6; -webkit-border-radius:30px; border-radius:30px;}
.y-scroll::-webkit-scrollbar-thumb {height:10px; background:#e5e5e5; -webkit-border-radius:30px; border-radius:30px; }
.y-scroll::-webkit-scrollbar-thumb:hover{background:#c8c8c8;}
.y-scroll::-webkit-scrollbar-thumb:active{background:#a5a5a5;}

.test_wrap{width:100%;height:100px;}
#test{color:#0B3861;text-weight:bold;font-size: 1.2em;text-align:center;line-height:100px;}
