/*
 *  MEMO : 프로젝트 내부 공통 스타일 파일입니다.
 * 작성자 : 민지
 * 작성일 : 2020/02/25.
*/
@charset "utf-8";

@font-face {
  font-family: 'NanumSquareRoundR';
  font-style: normal;
  font-weight: 400;
  src: local('NanumSquareRoundR'),
       local('NanumSquareRoundR'),
       url(/fonts/NanumSquareRoundR.woff2) format('woff2'),
       url(/fonts/NanumSquareRoundR.woff) format('woff'),
       url(/fonts/NanumSquareRoundR.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  font-style: normal;
  font-weight: 900;
  src: local('NanumSquareRoundEB'),
       local('NanumSquareRoundEB'),
       url(/fonts/NanumSquareRoundEB.woff2) format('woff2'),
       url(/fonts/NanumSquareRoundEB.woff) format('woff'),
       url(/fonts/NanumSquareRoundEB.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundB';
  font-style: normal;
  font-weight: 500;
  src: local('NanumSquareRoundB'),
       local('NanumSquareRoundB'),
       url(/fonts/NanumSquareRoundB.woff2) format('woff2'),
       url(/fonts/NanumSquareRoundB.woff) format('woff'),
       url(/fonts/NanumSquareRoundB.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundL';
  font-style: normal;
  font-weight: 200;
  src: local('NanumSquareRoundL'),
       local('NanumSquareRoundL'),
       url(/fonts/NanumSquareRoundL.woff2) format('woff2'),
       url(/fonts/NanumSquareRoundL.woff) format('woff'),
       url(/fonts/NanumSquareRoundL.ttf) format('truetype');
}

@font-face {
  font-family: 'NanumSquareRoundR';
  font-style: normal;
  font-weight: 300;
  font-display :fallback;
  src: url(/fonts/Roboto-Regular.ttf);
  src: local('Roboto-Regular'),
       url(/fonts/Roboto-Regular.woff2) format('woff2'),
       url(/fonts/Roboto-Regular.woff) format('woff'),
       url(/fonts/Roboto-Regular.ttf) format('truetype');
       unicode-range:U+0030-0039;
}

@font-face {
  font-family: 'NanumSquareRoundEB';
  font-style: normal;
  font-weight: 900;
  font-display :fallback;
  src: url(/fonts/Roboto-Black.ttf);
  src: local('Roboto-Black'),
       url(/fonts/Roboto-Black.woff2) format('woff2'),
       url(/fonts/Roboto-Black.woff) format('woff'),
      url(/fonts/Roboto-Black.ttf) format('truetype');
       unicode-range:U+0030-0039;
}

@font-face {
  font-family: 'NanumSquareRoundB';
  font-style: normal;
  font-weight: 500;
  font-display :fallback;
  src: url(/fonts/Roboto-Bold.ttf);
  src: local('Roboto-Bold'),
       url(/fonts/Roboto-Bold.woff2) format('woff2'),
       url(/fonts/Roboto-Bold.woff) format('woff'),
      url(/fonts/Roboto-Bold.ttf) format('truetype');
       unicode-range:U+0030-0039
}

@font-face {
  font-family: 'NanumSquareRoundL';
  font-style: normal;
  font-weight: 200;
  font-display :fallback;
  src: url(/fonts/Roboto-Light.ttf);
  src: local('Roboto-Light'),
       url(/fonts/Roboto-Light.woff2) format('woff2'),
       url(/fonts/Roboto-Light.woff) format('woff'),
      url(/fonts/Roboto-Light.ttf) format('truetype');
       unicode-range:U+0030-0039;
}
body,th,td,input,select,textarea,button, div, span, label {font-family:"NanumSquareRoundR", '나눔고딕'; font-size:14px; line-height: 1.5;color:#484848;}
body{background: #FAFAFA;}

/* 폼 관련 ui셋팅 */
textarea::-webkit-input-placeholder, input::placeholder{color:#ccc;}

/* 대표 wrap */
.body{margin:50px 0 0 0;}
.inner_wrap{padding: 0 15px;box-sizing: border-box;}
.inner_form_wrap{padding: 0 15px;box-sizing: border-box;}
.guide_wrap{padding: 15px; box-sizing: border-box;}
.guide_wrap img{display: block; width: 100%; padding: 0 15px;box-sizing: border-box;}

/* 컬러 설정 */
.essential{color:#399D26;}
.point_color{color:#F8B62B;font-family: inherit;font-size: inherit;line-height: inherit;}

/* 이미지센터관련 */
.img_box{overflow: hidden; display: block;}
.img_box > img{object-fit: cover; width: 100%; height: 100%;}
.center_crop_frame{position: relative;}
.center_crop_area{position: absolute; top:0;left:0;right:0;bottom:0;transform: translate(50%,50%);}
.center_crop_area img{position: absolute; top:0;left:0;transform: translate(-50%,-50%); max-width: 100%; min-height:100%;}
.img_block{display: block; width: 100%;}

/* 라인 */
hr{width: 100%; height: 0; border: 0; border-bottom: 1px solid #eee;}
hr.space{background: #F9F9F9; width: 100%; height: 10px; border-bottom: 0; margin: 0;}

/* 폰트 */
.normal_bold{font-family: 'NanumSquareRoundB';}
h2{font-size: 30px; line-height: 35px;font-family: 'NanumSquareRoundEB';color:#242424}
h4{font-size: 20px; font-family: 'NanumSquareRoundB';line-height: 28px}
.label{margin-bottom: 8px;}
/* button custom : s */
/* only colors */
.btn_point a{background: #F8B62B; color: #fff;}
.btn_point_line a{border: 1px solid #F8B62B; background: #fff; color: #F8B62B;}
.btn_white a{background: #fff; border:1px solid #ccc;color:#666}
/* only shape */
.floating_btn{width:calc(100% - 30px);position: fixed; z-index: 10; left:15px; bottom:30px;}
.btn_half_wrap{overflow: hidden;width: 100%;}
.btn_half a{width:calc(50% - 6px);height: 50px;font-family: 'NanumSquareRoundB';border-radius: 50px; display: inline-block; text-align: center; padding: 15px 5px; box-sizing: border-box; font-size: 16px;}
.btn_full_weight a{font-family: 'NanumSquareRoundB';vertical-align: middle;border-radius: 50px; display: block; text-align: center; height: 50px; line-height:48px; box-sizing: border-box; font-size: 16px;}
.btn_m a{line-height: 1;vertical-align: middle;font-family: 'NanumSquareRoundB';color:#F8B62B;border-radius: 50px; display: inline-block; text-align: center; padding: 11px 20px; box-sizing: border-box; font-size: 16px;}
.sdays_hid a{margin-top: 8px; text-decoration: underline; width: 100%; height: 100%;display: inline-block;font-size: 12px;color:#999;font-family: 'NanumSquareRoundB';text-align: center}
/* button custom : e */

/* input style */
input{width: 100%; border: 0; height:55px; box-sizing: border-box; text-indent: 20px; border-radius: 15px;}
input[type='text'],input[type='tel'],input[type='password'],input[type='submit'],input[type='search'] {-webkit-appearance:none; -webkit-border-radius:15px;height:55px; box-sizing: border-box; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);}
input:checked[type='checkbox'] {background-color:#666; -webkit-appearance:checkbox} button,input[type='button'],input[type='submit'],input[type='reset'],input[type='file'] {-webkit-appearance:button; border-radius:0}
input[type='search']::-webkit-search-cancel-button {-webkit-appearance:none}
textarea{border:0;width: 100%;padding: 20px; box-sizing:border-box; -webkit-appearance: none;border-radius:15px; resize: none;box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);}

input[type="checkbox"] {display:none;}
input[type="checkbox"] + label {display:inline-block; margin-right:20px; color: #666; font-size: 14px; font-style: normal;}
input[type="checkbox"] + label span {display:inline-block; width:20px; height:20px; margin:-3px 10px 0 0; vertical-align:middle; background:url('/images/checkbox_off.png') right center no-repeat; cursor:pointer; background-size:20px;}
input[type="checkbox"]:checked + label span {background:url('/images/checkbox_on.png') right center no-repeat; background-size:20px;}

input[type="radio"] {display:none;}
input[type="radio"] + label {display:inline-block; margin-right: 40px; font-size:12px; color: #333; font-style: normal;}
input[type="radio"] + label span {display:inline-block; width:20px; height:20px; margin:-3px 10px 0 0; vertical-align:middle; background:url('/images/radio_off.png') right center no-repeat; cursor:pointer; background-size:20px;}
input[type="radio"]:checked + label span {background:url('/images/radio_on.png') right center no-repeat; background-size:20px;}

/* 아이디찾기, 비번찾기 결과텍스트 창 */
.find_result{text-align: center; font-size: 16px; line-height: 26px; color: #333;}
.find_result img{width: 100%;}
.find_result span{color: #F8B62B;}

/* no_search_data */
.no_data{width:100%; text-align: center; padding: 20px; box-sizing: border-box; font-size: 16px; color:#999;}
.no_data img{width: 75px; margin: 70px 0 30px 0;}

/* 테이블관련 */
th.th_top{vertical-align: text-top;}
table.scroll_xy{overflow:auto; height:350px;}
table.scroll_xy th, td{min-width:100px}

/* 스위치 체크박스 */
.switch {position:relative; display:inline-block; width:40px; height:24px;}
.check_slider {position:absolute; cursor:pointer; top: 0; left: 0; right: 0; bottom: 0; background-color: #fff; -webkit-transition: .4s; transition: .4s; border-radius: 24px; border: 1px solid #757575;}
.check_slider:before {position: absolute; content: ""; height: 22px; width: 22px; left:-1px; bottom:-1px; background-color: #fff; border: 1px solid #757575; -webkit-transition: .4s; transition: .4s; border-radius: 50%;}
input:checked + .check_slider {background-color: #757575;}
input:focus + .check_slider {box-shadow: 0 0 1px #757575;}
input:checked + .check_slider:before {-webkit-transform: translateX(16px); -ms-transform: translateX(16px); transform: translateX(16px);}

body, html , .wrap{height: 100%;}
.vh_wrap{position: relative; min-height: 100%; overflow: hidden}
.vh_body{padding-bottom: 80px;}
.vh_footer{position: absolute; z-index: 1; bottom:30px;width: calc(100% - 30px);}
.vh_footer.l15{left:15px}

.modal_will_reg{width: calc(100% - 40px); max-height: calc(100% - 40px); height: auto; text-align: center}
.modal_will_reg h4{margin-bottom: 20px;}
.modal_will_reg ul li{font-size: 16px;font-family: 'NanumSquareRoundB';margin-bottom: 12px;padding: 12px; box-sizing: border-box; background: #fff; box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.05);border-radius: 15px;}
.modal_will_reg ul li a{display: block; width: 100%;}
.modal_will_reg ul li a img{width: 67px;display: block; margin: 0 auto;}
.modal_will_guide{width: calc(100% - 40px); max-height:calc(100% - 40px); height:auto; text-align: center}
.modal_will_guide .txt{line-height: 24px;margin-bottom: 30px;}
.modal_guide{width: calc(100% - 40px); max-height: calc(100% - 40px); height:auto; text-align: center}
.modal_guide h4{margin-bottom: 12px;}
.modal_guide p{line-height: 24px;}
.modal_guide .double_quot{margin: 12px 0;font-family: 'NanumSquareRoundB'}
.modal_guide .double_quot span{font-size: 24px;color:#F8B62B;font-family: 'NanumSquareRoundB'}

.modal_expert_reg{width: calc(100% - 40px); height: auto; text-align: center}
.modal_expert_reg p.txt{margin-bottom: 30px;margin-top: 12px;line-height: 24px}
.modal_expert_reg .btn_half a{font-family: 'NanumSquareRoundR';font-size: 14px;padding: 10px; line-height: 1;width: calc(50% - 3px); height: 36px;}

.modal_filter {border-radius: 0;}
.scroll_y{overflow-y: auto; height: 190px;}

.place_wrap{position: relative;}
.place_wrap .place_p{padding: 20px; margin-top: 12px;color:#ccc; box-sizing: border-box; overflow: hidden; pointer-events: none; display: block; position: absolute; z-index:1; background: transparent;}
.place_wrap textarea{position: absolute; z-index:1;}

.modal_memo_mod, .modal_memo_check{width: calc(100% - 40px); max-height: calc(100% - 40px); height: auto;}
.modal_memo_mod h4, .modal_memo_check h4{text-align: center; margin-bottom: 30px;}
.modal_memo_mod textarea{margin-bottom: 30px;height: 240px; margin-top: 20px;}
.modal_memo_check .place_wrap{overflow: hidden; height: 270px;}
.modal_memo_check textarea{margin-bottom: 30px;height: 240px;}
.modal_memo_check .place_wrap .place_p{margin-top: 0;}
.modal_memo_check .place_wrap ul > li{font-size: 12px; line-height: 20px;margin-top: 15px;color:#ccc}
.modal_memo_mod .btn_half a, .modal_memo_check .btn_half a{font-family: 'NanumSquareRoundR';font-size: 14px;padding: 10px; line-height: 1;width: calc(50% - 3px); height: 36px;}
